ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

/* .main-title {
  padding: 30px;
  background-color: aqua;
  border: 1px solid red;
  margin-bottom: 30px;
} */

/* .hero-description {
  width: 200px;
  margin-top: 90px;
  margin-bottom: 20px;
} */


.hero {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: blue;
}

.products {}

.container {
  width: 1168px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 16px;
  padding-right: 16px;
}



/* 3n */
/* 
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
*/



/* 2n + 1
2 * 0 + 1 = 1
2 * 1 + 1 = 3
2 * 2 + 1 = 5

*/


/*  -n + 3 
-0 + 3 = 3
-1 + 3 = 2
-2 + 3 = 1


*/

.products-list-item:nth-child(2n + 1) {
  background-color: aquamarine;
}