/* Селектори */

/* універсальний селектор; */
/* селектор id; */
/* селектор елемента; */
/* селектор класу; */
/* селектор нащадка; */
/* селектор дитини; */


/* #region універсальний селектор; */

* {
    box-sizing: border-box;
}

/* #endregion  */

/* #region селектор id; */

/* #title {
    color: blue;
}

#text {
    color: teal;
} */

/* #endregion */

/* #region селектор елемента, тега; 

 h1 {
    color: blueviolet;
}


p {
    color: cadetblue;
}

ul {
    list-style-type: none;
} 

/* #endregion */

/*  #region селектор класу; */

/* .main-title {
    color: greenyellow;
}

.nav-item-text {
    color: red;
    font-size: 20px;
}

.nav-list {
    background-color: aquamarine;
} */

/*  #endregion */

/* селектор нащадка; */
/* .list .nav-list {
    color: blue;
} */

/* селектор дитини;
.nav-list > ul > li > p {
    color: blue;
} */


 /* 0100 */
/* #main-title {
    color: blue;
} */

 /* 0010 */
/* .main-title {
    color: red;
} */

/* 0001 */
/* h1 {
    color: yellow;
} */

/* a {
    text-decoration: none;
} */

/* 0011 */
/* body .main-title {
    color: green;
} */

body {
    color: green;
}

.link {
    color: blue;
    font-size: 20px;
}



/* Псевдокласи стану (:hover, :focus, :active). */

.link:hover,
.link:focus {
    color: red;
    font-size: 30px;
    background-color: black;
}



/* .link:focus {
    color: green;
}

.link:active {
    color: white;
} */